*{
    /* color:  #23A6F0; */
    /* Background-Color: #f3f4f7; */
    font-family: 'Montserrat';
    /* font-size: 22px; */
    box-sizing: border-box;
}

.all-container{
    background-image: url("https://i.postimg.cc/9MQ2p89Y/hero-cover-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    height: 100%;
    /* margin: 0 auto; */
    /* border: 2px solid black; */
    flex-wrap: wrap;
}

@media screen and (max-width:560px){
    .all-container{
        background-size: cover;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
    }
    
}

#name{
    font-size: 3rem;
    font-weight: 900;
    color: white;
     padding: 10px;
     /* margin-top: 20px; */
     text-align: left;
}

#nav, ul, #start{
    display: flex;
    /* border: 2px solid black; */
    justify-content: space-evenly;
    font-size: calc(1vwh + 2.5rem);
    margin-top: 10px;
    font-size: 2rem;
    flex-wrap: wrap;
}

ul, li{
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    gap: 40px;
    flex-wrap: wrap;
}

ul>li>a{
    text-decoration: none;
    color: white;
}

ul>li>a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    inset: 0 0 1px rgba(255, 255, 255, 0.6);
    /* background: rgba(221, 109, 35, 0.678); */
    color: rgba(0, 35, 122, 0.7);
}

#topright-btns {
    margin-top: 20px;
    flex-wrap: wrap;
    font-size: 3vw 3vh;
    text-align: center;
}
#topright-btns button{
    font-weight: 900;
    color: white;
    font-size: 30px;
    background-color: transparent;
    border: none;
}

#topright-btns>button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    inset: 0 0 1px rgba(255, 255, 255, 0.6);
    background:  #23A6F0;
    color: white;
}

.slogan{
    font-size: 8vh;
    /* border: 2px solid black; */
    /* margin-top: 250px; */
    /* padding: 130px; */
    font-weight: 900;
    color: white;
}

#motto>p{
    font-size: 40px;
    color: white; 
    /* border: 2px solid black; */
    /* max-width: 940px; */
    text-align: center;
    /* margin-left: 69rem; */
    /* margin-right: 56rem; */
}

#motto>button:hover{
    color:  #fff;
    background:  #23A6F0;
}

#motto>button{
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
    /* background-color:#23A6F0; */
    color: #fff;
    border: 1px solid grey;
    padding: 15px 32px;
    border-radius: 20px;
}

.contain{
    text-align: center;
    /* margin-top: 140px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-basis: auto; */
    /* flex-wrap: wrap; */
    /* max-height: 700px; */
    /* grid-row: auto; */
    /* margin: 0 auto; */
    /* border: 2px solid red; */
    margin: 50px; 
}

.all-container>.service{
    display: flex;
    justify-content: center;
    position: relative;
    /* justify-content: space-between; */
    /* gap: 160px; */
    /* margin-top: 1000px; */
    margin-top: 70px;
}

@media screen and (max-width:560px){
    .all-container>.service{
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        display: flex;
        flex-direction: column;
        font-size: 3vw;
        text-align: center;
    }

    .contain >*{
        text-align: center;
        font-size: 3vw 3vh;
    }
    
}


#peace, #set, #satisfaction{
    /* border: 2px solid black; */
    padding: 20px;
    margin: 20px;
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* gap: 10px; */
}

.service>#set:hover{
    color: white;
    background:  #23A6F0;
    color: white;
}

.service>#peace:hover{
    color: white;
    background:  #23A6F0;
    color: white;
}

.service>#satisfaction:hover{
    color: white;
    background:  #23A6F0;
    color: white;
}

.service2{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* gap: 160px; */
    padding: 50px;
    /* border: 2px solid black; */
    /* height :500px; */
    font-size: 1em;
}

@media screen and (max-width: 560px) {
    /* This means that the changes will be affected on the body of the screen if and only 
        /* if the width does not exceed 560px  */
        .service2{
            display: flex;
            flex-direction: column;
            text-align: center;
            /* justify-content: center; */
            /* justify-content: space-between; */
            /* gap: 160px; */
            padding: 50px;
            border: 2px solid black;
            /* height :500px; */
            font-size: 1em;
        }
}


#peace2, #set2, #satisfaction2{
    /* border: 2px solid black; */
    padding: 20px;
    margin: 20px;
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    /* gap: 10px; */
    /* border: 2px solid black; */
}


@media screen and (max-width:560px){
    .industry .users{
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        /* display: flex; */
        flex-direction: column;
        font-size: 3vw;
        border: none;
        /* padding: 1rem; */
        justify-content: space-evenly;
        /* text-align: center; */
        
    }
    #user1, #user2, #user3{
        margin: 20px;
        width: 100%;
        height: 100%;
    }
}

.industry>h3{
    text-align: center;
    font-size: 3rem;
}

.industry>p{
    text-align: center;
    /* font-size: 22px; */
}

.users{
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    /* gap: 90px; */
    text-align: center;
    /* font-size: 1rem; */
    /* border: 2px solid black; */
    /* max-height: 500px; */
    flex-wrap: wrap;
    
}

.checked {
    color: orange;
  }
  

#user1, #user2, #user3{
    border: 1px solid gray;
    /* border-bottom: 55px; */
    width: auto;
    /* box-shadow: gray; */
    /* padding: 20px; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
}

/* .vectors{ */
    /* justify-content: center; */
    /* margin: 40px; */
    /* border: 2px solid black; */
/* } */

.vectors{
    display: flex;
    /* object-fit: scale-down; */
    justify-content: space-between;
    /* height: auto; */
    /* max-width: 100%; */
    padding: 15px 32px;
    /* border: 2px solid black; */
    flex-wrap: wrap;
}


@media screen and (max-width:560px){
    .vectors>li{
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        /* display: flex; */
        flex-direction: column;
        /* font-size: 3vw; */
        /* border: none; */
        /* padding: 1rem; */
        /* justify-content: center; */
        /* max-width: 100%; */
        /* height: auto; */
        text-align: center;
    }
    
}


/* .vectors>li>img{ */
    /* padding: 15px 32px; */
    /* border: 2px solid black; */
    /* text-align: center; */
    /* display: flex; */
/* } */

/* .vectors>li{ */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    /* gap: none; */
    /* justify-content: space-between; */
    /* list-style-type: none; */
    /* margin: 10px; */
    /* gap: 40px; */
/* } */

.sub{
    /* border: 1px solid black; */
    /* font-size: 22px; */
    margin: 20px;
    /* border-radius: 5%; */
    text-align: center;
    background: linear-gradient(125deg, #124af7, #f30ee5);
}

.sub>p{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}

.sub>#btn{
    font-weight: 900;
    color: white;
    border: none;
    display: inline-block;
    text-align: center;
   background-color: #23a6f0;
    padding: 15px 32px;
}

.pricingall{
    text-align: center;
    font-size: 2rem 54px;
    /* border: 2px solid black; */
    margin: 40px;
    background-color: #fafafa;
    /* font-weight: bold; */
}

#pricing{
    justify-content: center;
    display: flex;
    /* gap: 1px; */
    text-align: center;
    /* padding: 30px; */
    /* font-size: 28px; */
    background-color: #fafafa;
    /* height: 5rem; */
    flex-wrap: wrap;
}

@media screen and (max-width:560px){
    #pricing{
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        /* display: flex; */
        flex-direction: column;
        font-size: 3vw;
        /* border: none; */
        /* padding: 1rem; */
        /* justify-content: space-evenly; */
        /* height: 5rem; */
        margin: 20px;
    }
    #standard, #free, #premium{
        margin: 20px;
        padding: 20px;
        text-align: center;
    }
}

#standard{
    background-color: #252b42;
    /* height: 3rem; */
}

#free, #premium{
    background-color: #fff;
}

#specs{
    text-align: left;
}

#price-btn{
    text-align: center;
}

#price-btn>button{
    background-color: #23a6f0;
    padding: 15px 32px;
    /* padding: auto; */
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    font-family: Arial;
}

price{
    color: #23a6f0;
    font-weight: 900;
    font-size:5rem 3rem;
    text-align: center;
}

#pricing>h4 {
    font-weight: 900;
    font-size: 8vw;
}

#free, #standard, #premium{
    border: 2px solid #23a6f0;
    /* table-layout: auto; */
    /* margin: auto; */
    /* padding: auto; */
    text-align: center;
}

.branch-image {
    background-color: rgba(37,43,66,255);
    font-size: 6rem;
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

/* .branches-app-container{
    flex-wrap: wrap;
    border: 2px solid black;
} */

.branch-image>#image{
    float: right;
    /* background-color: rgba(37,43,66,255); */
}


@media screen and (max-width:560px){
    .branch-image{
        /* background-size: cover; */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        display: flex;
        flex-direction: column;
        font-size: 3vw;
        border: none;
        padding: 1rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
    }
    .branches>h5{
        font-size: 4vw;
    }
    
    .branches>p{
        font-size: 3vw;
        }
    
    #bookapp{
        text-align: center;
        /* background-color: rgba(37,43,66,255); */

    }
}

.branches>h5{
    font-size: 3rem;
}

.branches>p{
font-size: 1rem;
}

.appointment{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    text-align: center;
}

#bookapp{
    float: right;
    /* background-color: #23a6f0; */
    padding: 15px 32px;
    /* padding: auto; */
    font-size: 29px;
    /* color: #fff; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 35px; */
    /* margin: 0px; */
    /* gap: 0px; */
    /* text-align: center; */
}

#bkbtn{
    margin: 40px;
    /* padding: 32px; */
    /* height: 90px; */
}

#bkbtn>button{
        /* font-size: 2rem; */
        font-weight: 700;
        /* background-color: transparent; */
        background-color:#23A6F0;
        color: #fff;
        /* border: 1px solid grey; */
        padding: 15px 32px;
        /* border-radius: 20px; */
}

.consult{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    background-color: #fafafa;
    margin: 40px;
    flex-wrap: wrap;
}



#consultbtn{
    margin-top: 30px;
}

#consultbtn>button{
    /* margin-top: 20px; */
    /* padding: auto; */
    /* font-size: 2rem; */
    /* font-weight: 700; */
    /* background-color: transparent; */
    background-color:#23A6F0;
    color: #fff;
    /* border: 1px solid grey; */
    padding: 15px 32px;
    /* border-radius: 20px; */
}

.info{
    display: flex;
    justify-content: space-evenly;
    font-size: 3vh 3vw; 
    flex-wrap: wrap; 
}

.foot{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

#dsgn{
    margin: 20px;
}

