*{
    /* color:  #23A6F0; */
    /* Background-Color: #f3f4f7; */
    font-family: 'Montserrat';
    /* font-size: 22px; */
    box-sizing: border-box;
}

.all-container{
    background-image: url("https://i.postimg.cc/9MQ2p89Y/hero-cover-3.png");
    background-size: cover;
      background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* position: relative; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    /* height: 100%; */
    /* margin: 0 auto; */
    /* border: 2px solid black; */
}

@media screen and (max-width:560px){
    .all-container{
        object-fit:contain;
        /* height: 100vh; */
        /* width: 100vw; */
    }
}

#name{
    font-size: 3rem;
    font-weight: 900;
    color: white;
     padding: 10px;
     /* margin-top: 20px; */
     text-align: left;
}

#nav, ul, #start{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    justify-content: space-around;
    font-size: calc(1vwh + 2.5rem);
    margin-top: 10px;

}

ul, li{
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    gap: 40px;
    flex-wrap: wrap;
}

ul>li>a{
    text-decoration: none;
    color: white;
}

ul>li>a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    inset: 0 0 1px rgba(255, 255, 255, 0.6);
    /* background: rgba(221, 109, 35, 0.678); */
    color: rgba(0, 35, 122, 0.7);
}

#topright-btns {
    margin-top: 20px;
    flex-wrap: wrap;
    font-size: 3vw 3vh;
    text-align: center;
    
}
#topright-btns button{
    font-weight: 900;
    color: white;
    font-size: 30px;
    background-color: transparent;
    border: none;
    flex-direction: column;
}

#topright-btns>button:last-child{
    background:  #23A6F0;
}

#topright-btns>button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    inset: 0 0 1px rgba(255, 255, 255, 0.6);
    background:  #23A6F0;
    color: white;
}

.slogan{
    font-size: 7vh;
    font-weight: 900;
    color: white;
}

#motto>p{
    font-size: 5vh;
    color: white; 
    text-align: center;
}

#motto>button:hover{
    color:  #fff;
    background:  #23A6F0;
}

#motto>button{
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    border: 1px solid grey;
    padding: 15px 32px;
    border-radius: 20px;
}

#motto>button{
    background-color:  #23A6F0;
}

.contain{
    text-align: center;
    /* font-size:; */
    /* margin-top: 140px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-basis: auto; */
    /* flex-wrap: wrap; */
    /* max-height: 700px; */
    /* grid-row: auto; */
    /* margin: 0 auto; */
    /* border: 2px solid red; */
    /* margin: 300px;  */
    /* position: relative; */
}

.all-container>.service{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 170px;
}




#peace, #set, #satisfaction{
    /* border: 2px solid black; */
    padding: 20px;
    margin: 20px;
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* gap: 10px; */
}

.service>#set:hover{
    color: white;
    background:  #23A6F0;
    color: white;
}

.service>#peace:hover{
    color: white;
    background:  #23A6F0;
    color: white;
}

.service>#satisfaction:hover{
    color: white;
    background:  #23A6F0;
    color: white;
}

.service2{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* gap: 160px; */
    padding: 50px;
    /* border: 2px solid black; */
    /* height :500px; */
    font-size: 1em;
}

@media screen and (max-width: 560px) {
    /* This means that the changes will be affected on the body of the screen if and only 
        /* if the width does not exceed 560px  */
        .service2{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 50px;
            border: 2px solid black;
            font-size: 1em;
        }
}


#peace2, #set2, #satisfaction2{
    padding: 20px;
    margin: 20px;
    background-color: white;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.industry>h3{
    text-align: center;
    font-size: 3rem;
}

.industry>p{
    text-align: center;
}

.users{
    display: flex;
    gap: 1em;
    text-align: center;
}

@media  screen and (max-width:560px){
    .users{
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}
    

.checked {
    color: orange;
  }
  

#user1, #user2, #user3{
    border: 1px solid gray;
    width: auto;
}

.vectors{
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
    flex-wrap: wrap;
}


@media screen and (max-width:560px){
    .vectors>li{
        flex-direction: column;
        text-align: center;
    }
    
}

.sub{
    margin: 20px;
    text-align: center;
    background: linear-gradient(125deg, #124af7, #f30ee5);
}

.sub>p{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}

.sub>#btn{
    font-weight: 900;
    color: white;
    border: none;
    display: inline-block;
    text-align: center;
   background-color: #23a6f0;
    padding: 15px 32px;
}

.pricingall{
    text-align: center;
    font-size: 2rem 54px;
    margin: 40px;
    background-color: #fafafa;
}

#pricing{
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: #fafafa;
    flex-wrap: wrap;
}

@media screen and (max-width:560px){
    #pricing{
        flex-direction: column;
        font-size: 3vw;
        margin: 20px;
    }
    #standard, #free, #premium{
        margin: 20px;
        padding: 20px;
        text-align: center;
    }
}

#standard{
    background-color: #252b42;
}

#free, #premium{
    background-color: #fff;
}

#specs{
    text-align: left;
}

#price-btn{
    text-align: center;
}

#price-btn>button{
    background-color: #23a6f0;
    padding: 15px 32px;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    font-family: Arial;
}

price{
    color: #23a6f0;
    font-weight: 900;
    font-size:5rem 3rem;
    text-align: center;
}

#pricing>h4 {
    font-weight: 900;
    font-size: 8vw;
}

#free, #standard, #premium{
    border: 2px solid #23a6f0;
    text-align: center;
}

.branches{
    background-color: rgba(37,43,66,255);
    color: #fff;
    display: flex;
    
}

h5{
    font-size: 900;
    font-size: 2rem;
}

.branches>img{
    float: right;
    display: flex;
}

@media screen and (max-width:560px){
   .branches {
       flex-direction: column;
    }
}
.appointment{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 560px){
    .info{
        flex-direction: column;
    }
}

#bookapp{
    float: right;
    padding: 15px 32px;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
}

#bkbtn{
    margin: 40px;
}

#bkbtn>button{
        font-weight: 700;
        background-color:#23A6F0;
        color: #fff;
        padding: 15px 32px;
}

.consult{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    background-color: #fafafa;
    margin: 40px;
    flex-wrap: wrap;
}



#consultbtn{
    margin-top: 30px;
}

#consultbtn>button{
    background-color:#23A6F0;
    color: #fff;
    padding: 15px 32px;
}

.info{
    display: flex;
    justify-content: space-evenly;
    font-size: 3vh 3vw; 
    flex-wrap: wrap; 
    
}

@media screen and (max-width: 560px){
    .info{
        flex-direction: column;
    }
}

.foot{
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}

#dsgn{
    margin: 20px;
}

